
<!-- SEARCH BAR -->
<div class="row-fluid">
  <div class="span12">
    <div id="search-box-inset">
      <div id="search-box-wrapper">
        <div id='search-box'>
          <form action='/search' id='search-form' method='get' target='_top'>
            <input id='search-text' name='q' style="width:100%;" ng-model="query" placeholder='Company Name' type='text'/>
            <button id='search-button' type='submit'><span>Search</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- COMPANIES LIST -->
<ul class="thumbnails">
  <li class="span3" ng-animate="'animate'" ng-repeat="company in companies | filter:query">
    <a href="#/companies/{{company.name}}" class="thumbnail">
        <img ng-src="{{company.imageUrl}}">
        <h2 style="text-align:center;">{{company.name}}</h2>
    </a>
  </li>
</ul>

<!-- PIE CHART -->
<div class="hero-unit" ng-show="query">
  SELECTED COMPANY: {{query}}
  <pie-chart data="chartData" width="{{chartWidth}}" height="{{chartHeight}}" select="selectRow(selectedRowIndex)"></pie-chart><br/>
</div>
tiger