[Desktop Entry]
Encoding=UTF-8
Name=Link to 4.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/4.jpg
Icon=image-jpeg
Name[en_US]=Amazon.jpg
