[Desktop Entry]
Encoding=UTF-8
Name=Link to 14.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/14.jpg
Icon=image-jpeg
Name[en_US]=apple.jpg
