[Desktop Entry]
Encoding=UTF-8
Name=Link to 11.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/11.jpg
Icon=image-jpeg
Name[en_US]=ebay.jpg
