[Desktop Entry]
Encoding=UTF-8
Name=Link to 2.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/2.jpg
Icon=image-jpeg
Name[en_US]=Google.jpg
