[Desktop Entry]
Encoding=UTF-8
Name=Link to 7.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/7.jpg
Icon=image-jpeg
Name[en_US]=instagram.jpg
