[Desktop Entry]
Encoding=UTF-8
Name=Link to 10.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/10.jpg
Icon=image-jpeg
Name[en_US]=pinterest.jpg
