[Desktop Entry]
Encoding=UTF-8
Name=Link to 13.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/13.jpg
Icon=image-jpeg
Name[en_US]=Skype.jpg
