[Desktop Entry]
Encoding=UTF-8
Name=Link to 5.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/5.jpg
Icon=image-jpeg
Name[en_US]=Tumblr.jpg
