[Desktop Entry]
Encoding=UTF-8
Name=Link to 1.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/1.jpg
Icon=image-jpeg
Name[en_US]=Twitter.jpg
