[Desktop Entry]
Encoding=UTF-8
Name=Link to 3.jpg
Type=Link
URL=http://editorial.designtaxi.com/news-logo3001/3.jpg
Icon=image-jpeg
Name[en_US]=Youtube.jpg
